.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  margin: 50px 350px;
  font-family: "Code", "Source Code Pro", monospace;
}

.contact-form input,
.contact-form select,
.contact-form textarea {
  background-color: #f5f5f5; /* Optional: Set a background color to indicate read-only state */
  color: #777; /* Optional: Set a text color to indicate read-only state */
  pointer-events: none; /* Disable mouse events (click, hover, etc.) */
  cursor: default; /* Change cursor to default (arrow) to indicate non-interactivity */
}

@media screen and (max-width: 1023px) {
  .columns {
    margin-left: -22.75rem;
    margin-right: -3.75rem;
    margin-top: 15.75rem;
  }
}
