<div class="content has-text-centered"> {{'COMING_SOON' | translate}}</div>
<div class="container has-text-centered">
  <div class="centered-image">
    <img ngSrc="/assets/images/alex-profil.png" alt="Mon image" height="290" width="290">
  </div>
</div>

<div class="centered-form">
  <div class="form-container">
    <form action="#" method="POST">
      <div class="field">
        <div class="label">Name</div>
        <div class="control">
          <input class="input" type="text">
        </div>
      </div>

      <div class="field">
        <div class="label">Email</div>
        <div class="control">
          <input class="input" type="email">
        </div>
      </div>

      <div class="field">
        <div class="label">Message</div>
        <div class="control">
          <textarea class="textarea"></textarea>
        </div>
      </div>

      <div class="field is-grouped is-grouped-centered">
        <div class="control">
          <button class="button is-primary" type="submit">Envoyer</button>
        </div>
      </div>
    </form>
  </div>
</div>
