<div class="container is-flex p-5">
  <div class="background"></div>
  <div class="column is-half is-flex is-align-items-center">
    <!-- Insérez ici votre image -->
    <img src="assets/images/alex-profil.png" alt="Image du journal" class="journal-image">
  </div>
  <div class="column is-half is-flex is-align-items-center">
    <!-- Insérez ici votre texte -->
    <p class="journal-text">
      {{'ABOUT_ME.ABOUT_ONE' | translate}}
      <br><br>
      {{'ABOUT_ME.ABOUT_TWO' | translate}}
      <br><br>
      {{'ABOUT_ME.ABOUT_THREE' | translate}}
      <br><br>
      {{'ABOUT_ME.ABOUT_FOUR' | translate}}
      <br><br>
      {{'ABOUT_ME.ABOUT_FIVE' | translate}}
      <br><br>
      {{'ABOUT_ME.ABOUT_SIX' | translate}}
    </p>
  </div>
</div>
