<div class="container is-three-fifths is-offset-one-fifth">
  <article class="message is-info has-background-grey-lighter m-6 p-0">
    <div class="message-body has-text-grey-dark p-4">
      <p class="header-zero has-text-centered ">{{'EXPERIENCE.HEADERS.HEADER_ZERO' | translate}}</p>
      {{'EXPERIENCE.HEADERS.HEADER_ONE' | translate}}  <strong>{{'EXPERIENCE.HEADERS.HEADER_TWO_B' | translate}} </strong>
      {{'EXPERIENCE.HEADERS.HEADER_THREE' | translate}} <strong>{{'EXPERIENCE.TITLE_B.BRANCH' | translate}}</strong>{{'EXPERIENCE.HEADERS.HEADER_FOUR' | translate}}
      {{'EXPERIENCE.ENTERPRISE.PLACE' | translate}} {{'EXPERIENCE.HEADERS.HEADER_FIVE' | translate}}<strong>{{'EXPERIENCE.TITLE_B.STUDENT_EMPLOYEE_B' | translate}}</strong>
      {{'EXPERIENCE.HEADERS.HEADER_SIX' | translate}} <em>{{'EXPERIENCE.ENTERPRISE.WEBINSTORE' | translate}}</em>{{'EXPERIENCE.HEADERS.HEADER_SEVEN' | translate}}<em>{{'EXPERIENCE.ENTERPRISE.HIQS' | translate}}</em>
      {{'EXPERIENCE.HEADERS.HEADER_EIGHT' | translate}} <strong>{{'EXPERIENCE.TITLE_B.BACHELOR_DEGREE_B' | translate}}</strong> {{'EXPERIENCE.HEADERS.HEADER_NINE_B' | translate}}
      {{'EXPERIENCE.ENTERPRISE.HTW' | translate}} {{'EXPERIENCE.HEADERS.HEADER_TEN' | translate}} <strong>{{'EXPERIENCE.HEADERS.HEADER_ELEVEN' | translate}}</strong>
      {{'EXPERIENCE.HEADERS.HEADER_TWELVE' | translate}} <em>{{'EXPERIENCE.ENTERPRISE.ADESSO' | translate}}</em> {{'EXPERIENCE.HEADERS.HEADER_THIRTEEN' | translate}}
       <strong>{{'EXPERIENCE.TITLE_B.SOFTWARE_DEVELOPER_B' | translate}}</strong> {{'EXPERIENCE.HEADERS.HEADER_FOURTEEN' | translate}}
      {{'EXPERIENCE.HEADERS.HEADER_FIFTEEN' | translate}}
    </div>
  </article>
</div>
<div class="columns">
  <div class="column  m-6 p-0">
    <div class="box">
      <article class="media">
        <figure class="media-left">
          <p class="image is-64x64">
            <img src="assets/images/adesso.png" alt="Adesso Logo">
          </p>
        </figure>
        <div class="media-content">
          <div class="content">
            <p>
              <strong>{{'EXPERIENCE.ENTERPRISE.ADESSO' | translate }}</strong>
              <br>
              <strong>{{'EXPERIENCE.WORK.ADESSO.POSITION' | translate}}</strong> {{'EXPERIENCE.TITLE_B.SOFTWARE_DEVELOPER_B'| translate}}
              <br>
              <strong>{{'EXPERIENCE.WORK.ADESSO.DURATION_' | translate}}</strong> {{'EXPERIENCE.WORK.ADESSO.DURATION'| translate}}
              <br>
            </p>
            <p>As a junior software developer at Adesso, I have the following tasks:<br>
              <li>{{'EXPERIENCE.WORK.ADESSO.TASKS.TASKS_ONE' | translate}}</li>
              <li>{{'EXPERIENCE.WORK.ADESSO.TASKS.TASKS_TWO' | translate}}</li>
              <li>{{'EXPERIENCE.WORK.ADESSO.TASKS.TASKS_THREE' | translate}}</li>
              <li>{{'EXPERIENCE.WORK.ADESSO.TASKS.TASKS_FOUR' | translate}} <strong> Cypress, JUnit, Jest</strong>
              </li>
            </p>
            <p>
              {{'EXPERIENCE.WORK.ADESSO.ABOUT.CONTENT_ONE' | translate}} <strong>{{'EXPERIENCE.WORK.ADESSO.ABOUT.CONTENT_TWO_B' | translate}}</strong>.
              {{'EXPERIENCE.WORK.ADESSO.ABOUT.CONTENT_FOUR' | translate}}
              <strong>Spring Boot {{'UTILS.AND' | translate}} Angular</strong>,
              {{'EXPERIENCE.WORK.ADESSO.ABOUT.CONTENT_FIVE' | translate}}
              <strong>SAP, Google Cloud, PostgresSQL {{'UTILS.AND' | translate}} Docker</strong>.
            </p>
            {{'EXPERIENCE.WORK.ADESSO.ABOUT.CONTENT_SIX' | translate}}<br>
            <span class="tag is-info m-2">#{{'EXPERIENCE.WORK.ADESSO.TAGS.COMMUNICATION' | translate}}</span>
            <span class="tag is-info m-2">#{{'EXPERIENCE.WORK.ADESSO.TAGS.AGILE' | translate}}</span>
            <span class="tag is-info m-2">#{{'EXPERIENCE.WORK.ADESSO.TAGS.SCRUM' | translate}}</span>
            <span class="tag is-info m-2">#{{'EXPERIENCE.WORK.ADESSO.TAGS.TEAM' | translate}}</span>
            <span class="tag is-info m-2">#{{'EXPERIENCE.WORK.ADESSO.TAGS.MEETING' | translate}}</span>
            <span class="tag is-info m-2">#{{'EXPERIENCE.WORK.ADESSO.TAGS.PAIR_PROGRAMMING' | translate}}</span>
            <span class="tag is-info">#{{'EXPERIENCE.WORK.ADESSO.TAGS.DAILY' | translate}}</span>
          </div>
        </div>
      </article>
    </div>
  </div>

  <div class="column  m-6 p-0">
    <div class="box">
      <article class="media">
        <figure class="media-left">
          <p class="image is-64x64">
            <img src="assets/images/hiqs.jpg" alt="Hiqs Logo">
          </p>
        </figure>
        <div class="media-content">
          <div class="content">
            <p>
              <strong>{{'EXPERIENCE.ENTERPRISE.HIQS' | translate }}</strong>
              <br>
              <strong>{{'EXPERIENCE.WORK.HIQS.POSITION' | translate}}</strong> {{'EXPERIENCE.TITLE_B.STUDENT_EMPLOYEE_B'| translate}}
              <br>
              <strong>{{'EXPERIENCE.WORK.HIQS.DURATION_' | translate}}</strong> {{'EXPERIENCE.WORK.HIQS.DURATION'| translate}}
              <br>
            </p>
            <p>
              {{'EXPERIENCE.WORK.HIQS.ABOUT.CONTENT_ONE' | translate}}<strong>{{'EXPERIENCE.WORK.HIQS.ABOUT.CONTENT_TWO' | translate}}</strong>
              {{'EXPERIENCE.WORK.HIQS.ABOUT.CONTENT_THREE' | translate}}<br>
              {{'EXPERIENCE.WORK.HIQS.ABOUT.CONTENT_FOUR' | translate}} <strong>{{'EXPERIENCE.WORK.HIQS.ABOUT.CONTENT_FIVE' | translate}}</strong>
              <strong> (Ruby {{'UTILS.AND' | translate}} Rails, Angular, NodeJS, Postgres Sql).</strong>
              <br>
            </p>
            <p>
              {{'EXPERIENCE.WORK.HIQS.ABOUT.CONTENT_SIX' | translate}} <strong>Github {{'UTILS.OR' | translate}} Confluence</strong>
              {{'EXPERIENCE.WORK.HIQS.ABOUT.CONTENT_SEVEN' | translate}} <br>
              {{'EXPERIENCE.WORK.HIQS.ABOUT.CONTENT_EIGHT' | translate}} <strong>blockchain, Ruby  {{'UTILS.AND' | translate}} Rails </strong>
              {{'EXPERIENCE.WORK.HIQS.ABOUT.CONTENT_NINE' | translate}}<br>
            </p>
            <li>{{'EXPERIENCE.WORK.HIQS.ABOUT.CONTENT_TEN' | translate}}</li>
            <li>{{'EXPERIENCE.WORK.HIQS.ABOUT.CONTENT_ELEVEN' | translate}}</li>
            <span class="tag is-info m-2">#{{'EXPERIENCE.WORK.ADESSO.TAGS.COMMUNICATION' | translate}}</span>
            <span class="tag is-info m-2">#{{'EXPERIENCE.WORK.ADESSO.TAGS.AGILE' | translate}}</span>
            <span class="tag is-info m-2">#{{'EXPERIENCE.WORK.ADESSO.TAGS.SCRUM' | translate}}</span>
            <span class="tag is-info m-2">#{{'EXPERIENCE.WORK.ADESSO.TAGS.MEETING' | translate}}</span>
            <span class="tag is-info m-2">#{{'EXPERIENCE.WORK.ADESSO.TAGS.KANBAN' | translate}}</span>
          </div>
        </div>
      </article>
    </div>
  </div>
</div>

<div class="columns">

  <div class="column  m-6 p-0">
    <div class="box">
      <article class="media">
        <figure class="media-left">
          <p class="image is-64x64">
            <img src="assets/images/htw.png" alt="Hiqs Logo">
          </p>
        </figure>
        <div class="media-content">
          <div class="content">
            <p>
              <strong>{{'EXPERIENCE.ENTERPRISE.HTW' | translate }}</strong>
              <br>
              <strong>{{'EXPERIENCE.WORK.HTW.DEGREE_PROGRAMME' | translate}}</strong> {{'EXPERIENCE.TITLE_B.BRANCH'| translate}}
              <br>
              <strong>{{'EXPERIENCE.WORK.HTW.POSITION' | translate}}</strong> {{'EXPERIENCE.TITLE_B.STUDENT'| translate}}
              <br>
              <strong>{{'EXPERIENCE.WORK.HTW.DURATION_' | translate}}</strong> {{'EXPERIENCE.WORK.HTW.DURATION'| translate}}
              <br>
            </p>
            <p>
              {{'EXPERIENCE.WORK.HTW.ABOUT.CONTENT_ONE' | translate}}
              <br>
              <strong>{{'EXPERIENCE.WORK.HTW.ABOUT.CONTENT_TWO' | translate}}</strong>
            </p>
            <p>
              {{'EXPERIENCE.WORK.HTW.ABOUT.CONTENT_THREE' | translate}} <strong>{{'EXPERIENCE.WORK.HTW.ABOUT.CONTENT_FOUR' | translate}}</strong>
              {{'EXPERIENCE.WORK.HTW.ABOUT.CONTENT_FIVE' | translate}} {{'EXPERIENCE.WORK.HTW.ABOUT.CONTENT_SIX' | translate}}
              {{'EXPERIENCE.WORK.HTW.ABOUT.CONTENT_SEVEN' | translate}} <strong>{{'EXPERIENCE.WORK.HTW.ABOUT.CONTENT_EIGHT' | translate}}</strong>
            </p>
            <span class="tag is-info m-2">#{{'EXPERIENCE.WORK.ADESSO.TAGS.COMMUNICATION' | translate}}</span>
            <span class="tag is-info m-2">#{{'EXPERIENCE.WORK.ADESSO.TAGS.TEAM' | translate}}</span>
            <span class="tag is-info m-2">#{{'EXPERIENCE.WORK.ADESSO.TAGS.PAIR_PROGRAMMING' | translate}}</span>
            <span class="tag is-info m-2">#{{'EXPERIENCE.WORK.ADESSO.TAGS.KANBAN' | translate}}</span>
          </div>
        </div>
      </article>
    </div>
  </div>

  <div class="column  m-6 p-0">
    <div class="box">
      <article class="media">
        <figure class="media-left">
          <p class="image is-64x64">
            <img src="assets/images/webinstore.png" alt="Hiqs Logo">
          </p>
        </figure>
        <div class="media-content">
          <div class="content">
            <p>
              <strong>{{'EXPERIENCE.ENTERPRISE.WEBINSTORE' | translate }}</strong>
              <br>
              <strong>{{'EXPERIENCE.WORK.HTW.POSITION' | translate}}</strong> {{'EXPERIENCE.TITLE_B.STUDENT_EMPLOYEE_B'| translate}}
              <br>
              <strong>{{'EXPERIENCE.WORK.HTW.DURATION_' | translate}}</strong> {{'EXPERIENCE.WORK.HTW.DURATION'| translate}}
              <br>
            </p>
            <li>{{'EXPERIENCE.WORK.WEBINSTORE.ABOUT.CONTENT_ONE' | translate}}</li>
            <li>{{'EXPERIENCE.WORK.WEBINSTORE.ABOUT.CONTENT_TWO' | translate}}</li>
            <li>{{'EXPERIENCE.WORK.WEBINSTORE.ABOUT.CONTENT_THREE' | translate}}</li>
            <li>{{'EXPERIENCE.WORK.WEBINSTORE.ABOUT.CONTENT_FOUR' | translate}}</li>
            <span class="tag is-info m-2">#{{'EXPERIENCE.WORK.ADESSO.TAGS.COMMUNICATION' | translate}}</span>
            <span class="tag is-info m-2">#{{'EXPERIENCE.WORK.ADESSO.TAGS.TEAM' | translate}}</span>
            <span class="tag is-info">#{{'EXPERIENCE.WORK.ADESSO.TAGS.PART_TIME' | translate}}</span>
          </div>
        </div>
      </article>
    </div>
  </div>

</div>
