<nav class="navbar">
  <div class="navbar-brand">
    <a class="navbar-item" routerLink="/">
      <img src="/assets/images/alex_for_about_me.png" alt="Logo" class="navbar-item">
      <span class="navbar-item navbar-text"> {{ 'NAVBAR.LOGO_TEXT' | translate }}</span>
    </a>

  </div>

  <div class="navbar-menu">
    <div class="navbar-end">
      <a class="navbar-item" routerLink="/about">{{'NAVBAR.ROUTES.ABOUT_ME' | translate}}</a>
      <a class="navbar-item" >{{'NAVBAR.ROUTES.EXPERIENCES' | translate}}</a>
      <a class="navbar-item" >{{'NAVBAR.ROUTES.CONTACTS' | translate}}</a>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">{{ 'NAVBAR.DROPDOWN.LANGUAGE' | translate }}</a>
        <div class="navbar-dropdown">
          <div class="buttons">
            <button class="button is-info is-outlined" (click)="changeLanguage('en')" > EN </button>
            <button class="button is-info is-outlined" (click)="changeLanguage('de')" > DE </button>
            <button class="button is-info is-outlined" (click)="changeLanguage('fr')" > FR </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Sidebar - Hidden by default for larger screens -->
  <div class="sidebar" [ngClass]="{ 'show-sidebar': sidebarVisible }">
    <!-- Close button ("x") - Displayed only when the sidebar is open -->
    <button class="button close-button" *ngIf="sidebarVisible" (click)="toggleSidebar()">x</button>

    <!-- Sidebar content - Add your navigation links and language buttons here -->
    <a class="navbar-item" routerLink="/about">{{ 'NAVBAR.ROUTES.ABOUT_ME' | translate }}</a>
    <a class="navbar-item" >{{ 'NAVBAR.ROUTES.EXPERIENCES' | translate }}</a>
    <a class="navbar-item" >{{ 'NAVBAR.ROUTES.CONTACTS' | translate }}</a>

    <!-- Language buttons in the sidebar -->
    <div class="buttons">
      <button class="button is-info is-outlined" (click)="changeLanguage('en')">EN</button>
      <button class="button is-info is-outlined" (click)="changeLanguage('de')">DE</button>
      <button class="button is-info is-outlined" (click)="changeLanguage('fr')">FR</button>
    </div>
  </div>

  <!-- Hamburger icon to toggle the sidebar - Shown on smaller screens -->
  <button role="button" class="navbar-burger button" *ngIf="!sidebarVisible" aria-label="menu" aria-expanded="false" (click)="toggleSidebar()">
    <span aria-hidden="true"></span>
    <span aria-hidden="true"></span>
    <span aria-hidden="true"></span>
  </button>
</nav>

<router-outlet></router-outlet>
