/* Custom styles for the navbar - Displayed by default for larger screens */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Code", "Source Code Pro", monospace;
}

/* Custom styles for the sidebar - Hidden by default for larger screens */
.sidebar {
  display: none;
}

/* Media query to show the sidebar on smaller screens (max-width: 1032px) */
@media screen and (max-width: 1023px) {
  .navbar {
    display: block;
  }
  .navbar-menu {
    display: none;
  }

  .sidebar {
    display: block;
    position: fixed;
    top: 0;
    right: -250px; /* Set the initial position off-screen */
    width: 250px; /* Set the width of the sidebar */
    height: 100vh; /* Set the height of the sidebar */
    background-color: #f0f0f0; /* Customize the background color */
    transition: right 0.3s ease; /* Add a transition effect to smooth the animation */
  }
  /* Add more styles for the sidebar here */
  .show-sidebar {
    right: 0; /* Position the sidebar on the screen */
  }
  .buttons {
    display: grid;
  }
}

.navbar-item img{
  height: 40px;
  width: auto;
  max-height: 100%;
  max-width: 100%;
}

.navbar-text {
  position: relative;
  top: 23px;
  left: -114px;
  font-size: 18px;
  color: #afaea9;
  font-family: "Code", "Source Code Pro", monospace;
}

/* Ajuster la largeur du dropdown pour qu'elle soit proportionnelle au contenu */
.navbar-item.has-dropdown.is-active .navbar-dropdown {
  display: block;
  white-space: nowrap;
}

.navbar-dropdown .navbar-item {
  display: inline-block;
  white-space: nowrap;
}

/* Ajuster la largeur du dropdown pour qu'elle soit proportionnelle au contenu */
.buttons button {
  margin-right: 6px;
  margin-left: 6px;
  padding: 0.5em;
}

@media screen and (max-width: 768px) {
  .navbar-item img {
    max-width: 70%;
    flex-direction: column;
  }
  .navbar-text {
    left: -143px;
  }
}
