<nav class="navbar">
  <div class="navbar-brand">
    <a class="navbar-item" routerLink="/">
      <img src="/assets/images/alex_for_about_me.png" alt="Logo" class="navbar-item">
      <span class="navbar-item navbar-text"> Made with a lot of love</span>
    </a>

  </div>

  <div class="navbar-menu">
    <div class="navbar-end">
      <a class="navbar-item" routerLink="/about">About</a>
      <a class="navbar-item" routerLink="/experience">Experience</a>
      <a class="navbar-item" routerLink="/contact">Contact</a>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">Language</a>
        <div class="navbar-dropdown">
          <a class="navbar-item" href="#" >FR</a>
          <a class="navbar-item" href="#" >DE</a>
          <a class="navbar-item" href="#" >EN</a>
        </div>
      </div>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
